{{ ansible_managed | comment }}
---
services:
  prometheus:
    image: "{{ compose_base_prometheus_image_url }}:{{ compose_base_prometheus_image_tag }}"
    command:
      - --storage.tsdb.retention.time=30d
      - --storage.tsdb.retention.size=20GB
      - --storage.tsdb.wal-compression
      - --config.file=/etc/prometheus/prometheus.yaml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/usr/share/prometheus/console_libraries
      - --web.console.templates=/usr/share/prometheus/consoles"
      - --web.external-url=https://{{ compose_base_prometheus_host }}{{ compose_base_prometheus_web_path_prefix }}
    networks:
      - traefik
      - prometheus
    labels:
      traefik.enable: "true"
      traefik.http.routers.prometheus.rule: "Host(`{{ compose_base_prometheus_host }}`) && PathPrefix(`{{ compose_base_prometheus_web_path_prefix }}`)"
      traefik.http.routers.prometheus.entrypoints: "https"
      traefik.http.routers.prometheus.tls: "true"
      traefik.http.routers.prometheus.tls.certresolver: "http01"
      traefik.http.routers.prometheus.middlewares: prometheus-auth
      traefik.http.services.prometheus.loadbalancer.server.port: "9090"
      traefik.http.middlewares.prometheus-auth.basicauth.users: "{{ compose_base_prometheus_users | replace('$', '$$') }}"
      traefik.docker.network: "traefik"
    volumes:
      - prometheus:/prometheus
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
      - ./prometheus/scrapes:/etc/prometheus/scrapes:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro

volumes:
  prometheus: {}

networks:
  prometheus:
    name: prometheus
