{{ ansible_managed | comment }}
---
services:
  prometheus:
    image: "{{ compose_base_prometheus_image_url }}:{{ compose_base_prometheus_image_tag }}"
    command:
      - --storage.tsdb.retention.time=30d
      - --storage.tsdb.retention.size=20GB
      - --storage.tsdb.wal-compression
    networks
      - traefik
      - prometheus
    labels:
      traefik.enable: "true"
      traefik.http.routers.prometheus.rule: "Host(`{{ compose_base_prometheus_host }}`)"
      traefik.http.routers.prometheus.entrypoints: "https"
      traefik.http.routers.prometheus.tls: "true"
      traefik.http.routers.prometheus.tls.certresolver: "http01"
      traefik.http.services.prometheus.loadbalancer.server.port: "9090"
      traefik.docker.network: "traefik"
    volumes:
      - prometheus:/prometheus
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/scrapes:/etc/prometheus/scrapes:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro

volumes:
  prometheus: {}

networks:
  prometheus:
    name: prometheus
