{{ ansible_managed | comment }}
---
services:
  traefik: 
    image: "{{ compose_base_traefik_image_url }}:{{ compose_base_traefik_image_tag }}"
    ports:
      - 80:80
      - 443:443
    environment:
      CF_DNS_API_TOKEN: "{{ compose_base_traefik_cloudflare_token }}"
    networks:
      - traefik
      - prometheus
    volumes:
      - letsencrypt:/letsencrypt
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  letsencrypt: {}

networks:
  traefik:
    name: traefik
