{{ ansible_managed | comment }}
---
global:
  scrape_interval: 15s
  scrape_timeout: 10s

  evaluation_interval: 1m

  rule_files:
    - /etc/prometheus/rules/*.yaml

  scrape_config_files:
    - /etc/prometheus/scrapes/*.yaml
