{{ ansible_managed | comment }}
---
global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: INFO

accessLog:
  addInternals: true
  format: json

entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  https:
    address: ":443"
  metrics:
    address: ":8082"

api:
  insecure: true
  dashboard: true

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  http01:
    acme:
      httpChallenge:
        entryPoint: http
      storage: /letsencrypt/acme.json

metrics:
  prometheus:
    buckets:
      - 0.005
      - 0.010
      - 0.040
      - 0.080
      - 0.160
      - 0.320
      - 0.640
      - 1.280
      - 2.560
      - 5.120
      - 10.240
      - 20.480
      - 40.960
      - 81.920
    entryPoint: metrics
