{{ ansible_managed | comment }}
---
scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      - source_labels: [__meta_docker_container_label_prometheus_scrape]
        regex: "true"
        action: keep
      - source_labels: [__meta_docker_container_network_mode]
        regex: "prometheus"
        action: keep
      - regex: "__meta_docker_container_label_com_docker_(compose_(project|service))"
        action: labelmap
      - source_labels: [__address__, __meta_docker_container_label_prometheus_port]
        regex: "(.+);(\d+)"
        action: replace
        target_label: __address__
       - source_labels: [__meta_docker_container_label_prometheus_path]
        action: replace
        target_label: __metrics_path__
        regex: (.+)
    metric_relabel_configs:
      - regex: "container_label_com_docker_(compose_(project|service))"
        action: labelmap
  - job_name: node_exporter
    static_configs:
      - targets:
          - host.docker.internal:9100
