{{ ansible_managed | comment }}
---
scrape_configs:
  - job_name: "prometheus"
    metrics_path: "{{ compose_base_prometheus_web_path_prefix }}/metrics"
    static_configs:
      - targets: ["localhost:9090"]
